.visualization {
  font-family: 'Work Sans',Arial, Helvetica, sans-serif;
  margin: 100px auto; /* padding above container */
  max-width: 1000px; /* what is the max width container will extend */
  width: 90%; /* how much width does container take up */
}

.title {
  width: 100%;
  text-align: center;
}

.title h1 {
  font-size: 24px;
}

.title p {
  font-size: 16px;
}

.chart {
  width: 100%;
  font-size:px;
}

.caption {
  width: 90%;
  font-size: 14px;
  text-align: right;
}

.paragraph {
  max-width: 1000px;
  width: 75%;
  margin: 80px auto;
  /* max-width: 1200px; */
}

.body  {
  width: 70%;
  text-align: left;
}

.body h1 {
  font-size: 30px;
}

.body p {
  font-size: 20px;
}

.row {column-count: 2;}

.legend { margin: 30px 0px 50px; }

.legend svg { margin: 0 auto; }

.highlight path { /* color and opacity of path lines upon hover */
  stroke: steelblue;
  opacity: 1;
}

.highlight text { fill: steelblue; } /* color of path text upon hover */

.svg-tooltip {
  background: rgba(69, 77, 93, .9);
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  max-width: 320px;
  padding: 1rem;
  position: absolute;
  text-overflow: ellipsis;
  white-space: pre;
  z-index: 300;
  visibility: hidden;
}

a { color: #369; } /* color of hyperlink */

svg { width: 100%; } /* how wide are graphics? */

svg text { /* formatting of in-graphic text */
  font-size: 10px;
  text-transform: uppercase;
}

path.domain { display: none; } /* whether to display x- and y-axis lines */

line { /* whether to display horizontal lines extending from y-axis */
  stroke: rgb(227, 227, 227);
  stroke-dasharray: 10px;
}


